@font-face {
  src: url("../Syne/Syne-Regular.ttf");
  font-family: Syne;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("../Syne/Syne-SemiBold.ttf");
  font-family: Syne;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  src: url("../Syne/Syne-Bold.ttf");
  font-family: Syne;
  font-style: normal;
  font-weight: 700;
}
