@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../fonts/Syne/style.css");
@import url("../fonts/Inter/style.css");

body {
  @apply font-inter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
